@model IEnumerable<Guitar.Models.MusicScore>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ms_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ms_img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ms_label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ms_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ms_addtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.User_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ms_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ms_img)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ms_label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ms_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ms_addtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.User_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ms_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ms_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ms_id })
        </td>
    </tr>
}

</table>
