@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<Guitar.ViewModel.MusicScoreCommentViewModel>
@foreach (var p in Model)
{
    <div class="pinlun">
        <table cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td class="ta1">
                        <div class="taimg">
                            <a href="@Url.Action("UserIndex", new { User_Id = p.User_id })"><img src="@p.User_img" class="img-responsive img-rounded" /></a>

                        </div>
                        <div class="taname"><a href="@Url.Action("UserIndex", new { User_Id = p.User_id })"></a>@p.User_name</div>
                    </td>
                    <td class="ta2">
                        <div class="taa1">
                            <i class="fa fa-user-circle" aria-hidden="true"></i> 发表于  @p.Addtime
                        </div>
                        <div class="taa2">
                            @p.content
                        </div>

                        @*<input type="hidden" name="Ms_id" value="@Model.MScore.Ms_id" />
                            <input type="hidden" name="Commentid2" value="@p.Ms_commentid" />*@

                        <div class="fabiao huifu aclick">
                            <div style="float:right"><a class="">回复</a></div>
                            <div style="clear:both"></div>
                        </div>

                        <div class="comment">
                            @*@foreach (MusicCommentReplyViewModel m in Model.MSR.Where(n => n.Ms_commentid == p.Ms_commentid))
                                {
                                    <input type="hidden" name="Commentid1" value="@p.Ms_commentid" />
                                            <div class="huifui1">
                                                <div class="hui1">
                                                    <div class="huiimg">
                                                        <a><img src="@m.User_img" class="img-responsive img-rounded" /></a>
                                                    </div>
                                                    <div class="huiother">
                                                        <div class="r1"><a>@m.User_name</a>  发表于  @m.Addtime</div>
                                                        <div class="r2">@m.content</div>
                                                    </div>
                                                    <div style="clear:both"></div>
                                                </div>
                                            </div>
                                }*@


                            <div class="m aclick">
                                <div style="float:right"><a class="">我也来说一句</a></div>
                                <div style="clear:both"></div>
                            </div>
                            <div class="myreply">
                                @using (Html.BeginForm("Reply", "MusicScore", FormMethod.Post, new { id = "pinglung", @class = "postbox" }))
                                {
                                    <div class="myimg">
                                        <img src="@Session["User_img"]" class="img-responsive img-rounded" />
                                    </div>
                                    @*<input type="hidden" name="Ms_id2" value="@Model.MScore.Ms_id" />
                                        <input type="hidden" name="Commentid" value="@p.Ms_commentid" />*@
                                    <div class="mycontent">
                                        <textarea class="textarea2" name="pingluntextarea2"></textarea>
                                        <div class="fabiao2">
                                            <a href="javascript:document.getElementById('pinglung').submit()" class="btn btn-info">回复</a>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}