@using Guitar.Models
@using Guitar.ViewModel
@model  Guitar.ViewModel.IndexViewModel
@{
    ViewBag.Title = "首页Guitar";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@Styles.Render("~/bootstrap-3.3.7-dist/css/bootstrap.min.css")
@Scripts.Render("~/bootstrap-3.3.7-dist/js/bootstrap.min.js")
@Styles.Render("~/font-awesome-4.7.0/css/font-awesome.min.css")
@Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
@Scripts.Render("~/Scripts/lanrenzhijia.js")
@Styles.Render("~/Content/lanrenzhijia.css")
<link href="~/Content/port.css" rel="stylesheet" />
<link href="~/Content/One.css" rel="stylesheet" />
<script src="~/Scripts/One.js"></script>
<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
    .yuepu{
        padding-top:30px;
        /*border:1px solid;*/
        width:100%;
    }
    .zi{width:100%;height:30px;overflow:hidden;margin:5px;}
.zi a{text-decoration:none;color:#000000;font-size:20px;cursor:pointer;}
.zi a:hover{color:#4c69d8}
</style>
<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Images/lunbo.jpg" alt="First slide" style="height:350px;">
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
            <img src="~/Images/lunbo2.jpg" alt="Second slide" style="height:350px;">
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
            <img src="~/Images/lunbo.jpg" alt="Third slide" style="height:350px;">
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
            <img src="~/Images/lunbo2.jpg" alt="Three slide" style="height:350px;">
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
            <img src="~/Images/lunbo.jpg" alt="Four slide" style="height:350px;">
            <div class="carousel-caption"></div>
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div> 
<div class="container">
<div class="yuepu">
    <div class="lanrenzhijia">
        <div class="title cf">
            <a class="f1" style="text-decoration:none;display:inline;font-size:25px;cursor:pointer;">乐谱</a>
            <ul class="title-list fr cf ">
                <li class="on">最新</li>
                <li>热门</li>
                <li>关注</li>
                <p><b></b></p>
            </ul>
        </div>
        <div class="product-wrap">
            
            <div class="product showw">
            
                <ul class="cf">
                @foreach (MusicScore p in Model.MScore1)
                    {
                    <li >
                        <a href="@Url.Action("Display","MusicScore", new { id = @p.Ms_id,name=@p.Ms_title})" class="imgwrap"> <img class="img-responsive" src="@p.Ms_img"> </a>
                        <p class="mt10"> <a href="">@p.Ms_title</a></p>
                        <p class="pb10"> @p.Ms_label</p>
                    </li>  }
                </ul>
          
            </div>
            <!--案例2-->
            <div class="product">
                <ul class="cf">
@foreach (MusicViewModel p in Model.MusicViewModel1)
{
    <li>
        <a href="" class="imgwrap"> <img class="img-responsive" src="@p.Ms_img"> </a>
        <p class="mt10"> <a href="">@p.Ms_title</a></p>
        <p class="pb10">@p.Ms_label</p>
    </li>
}
                  
                    
                </ul>
            </div>
            <!--案例3-->
            <div class="product">
                <ul class="cf">
                    @foreach (Users p in Model.Us)
                    {
                        <li>
                            <a href="" class="imgwrap"> <img class="img-responsive" src="@p.User_img"> </a>
                            <p class="mt10"> <a href="">@p.User_name </a></p>
                            <p class="pb10">@p.User_sign</p>
                        </li>
                    }
                    

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="yuepu">
    <div class="lanrenzhijias">
        <div class="titles cf">
            <a class="f1" style="text-decoration:none;display:inline;font-size:25px;cursor:pointer;">视频</a>
            <ul class="title-lists fr cf ">
                <li class="on">教学</li>
                <li>评测</li>
                <li>专辑</li>
                <p><b></b></p>
            </ul>
        </div>
        <div class="product-wraps">
            <!--案例1-->
            <div class="products showw">
                <ul class="cf">
                    <li>
                        <div class="port-7 effect-2">
                            <div class="image-box">
                                <img src="~/Images/img-1.jpg" alt="Image-2">
                            </div>
                            <div class="text-desc">
                                <div class="zi" ><a >纸短情吞吞吐吐长</a></div>
                                <p>木吉他</p>
                                @*<p><a href="#" class="btn">Learn more</a></p>*@
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="port-7 effect-2">
                            <div class="image-box">
                                <img src="~/Images/img-1.jpg" alt="Image-2">
                            </div>
                            <div class="text-desc">
                                <div class="zi"><a>纸短情吞吞吐吐长</a></div>
                                <p>木吉他</p>
                                @*<p><a href="#" class="btn">Learn more</a></p>*@
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="port-7 effect-2">
                            <div class="image-box">
                                <img src="~/Images/img-1.jpg" alt="Image-2">
                            </div>
                            <div class="text-desc">
                                <div class="zi"><a>纸短情吞吞吐吐长</a></div>
                                <p>木吉他</p>
                                @*<p><a href="#" class="btn">Learn more</a></p>*@
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="port-7 effect-2">
                            <div class="image-box">
                                <img src="~/Images/img-1.jpg" alt="Image-2">
                            </div>
                            <div class="text-desc">
                                <div class="zi"><a>纸短情吞吞吐吐长</a></div>
                                <p>木吉他</p>
                                @*<p><a href="#" class="btn">Learn more</a></p>*@
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="port-7 effect-2">
                            <div class="image-box">
                                <img src="~/Images/img-1.jpg" alt="Image-2">
                            </div>
                            <div class="text-desc">
                                <div class="zi"><a>纸短情吞吞吐吐长</a></div>
                                <p>木吉他</p>
                                @*<p><a href="#" class="btn">Learn more</a></p>*@
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="port-7 effect-2">
                            <div class="image-box">
                                <img src="~/Images/img-1.jpg" alt="Image-2">
                            </div>
                            <div class="text-desc">
                                <div class="zi"><a>纸短情吞吞吐吐长</a></div>
                                <p>木吉他</p>
                                @*<p><a href="#" class="btn">Learn more</a></p>*@
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--案例2-->
            <div class="products">
                <ul class="cf">
                    <li class="ml0">
                        <a href="h" class="imgwrap"> <img class="img-responsive" src="~/Images/s22.jpg"> </a>
                        <p class="mt10"> <a href="">站长logo... </a></p>
                        <p class="pb10">行业类别：</p>
                    </li>
                </ul>
            </div>
            <!--案例3-->
            <div class="products">
                <ul class="cf">
                    <li class="ml0">
                        <a href="" class="imgwrap"> <img class="img-responsive" src="~/Images/3.jpg"> </a>
                        <p class="mt10"> <a href="">站logo... </a></p>
                        <p class="pb10">行业类别：</p>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
</div>

  
<h1>dfsdfsdfsd</h1>
<h1>dfsdfsdfsd</h1>
<h1>dfsdfsdfsd</h1>
<h1>dfsdfsdfsd</h1>

       

        @Scripts.Render("~/bundles/jquery")
