@model Guitar.Models.Users
@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "addForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @*<form class="form-horizontal" role="form">*@
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">邮箱号</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.User_email, new { @class = "form-control", type = "text", id = "phonum", style = "width: 300px;" })
            @*<input id="phonum" type="text" class="form-control" style="width: 300px;">*@
            @Html.ValidationMessageFor(model => model.User_email)
        </div>
    </div>

                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.User_password, new { @class = "form-control", placeholder = "Password", type = "password", id = "txtpassword", style = "width: 300px;" })
                            @*<input type="password" style="width: 300px;" class="form-control" id="" placeholder="Password">*@
                            @Html.ValidationMessageFor(model => model.User_password)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">验证码</label>
                        <div class="col-sm-6">
                            <div style="float: left;">
                                <input style="width: 200px;" class="form-control" id="txtverifcode" name="txtverifcode" type="text">
                                @*<input id="txtverifcode" name="txtverifcode" class="login_verifcode" placeholder="验证码" type="text" />*@
                                @*<span id="codenameTip">*@

                            </div>
                            <div style="float: left;">
                                <span id="txtverifcod"><img id="validimg" src="@Url.Action("GetYZM", "YZM")" alt="看不清，点击换一张" /><a style="text-decoration:none;cursor:pointer" id="see" onclick="reloadcode()">换一张</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-6">
                            @*@Html.CheckBoxFor(model => model.User_email)*@
                            @Html.CheckBoxFor(m => m.RememberMe)
                            <span>记住我</span>
                            <span style="padding-left:155px"><a style="text-decoration:none">忘记密码?</a></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-6">
                            @*<button type="button" id="btnlogin" class="btn btn-primary">立即登录</button>*@
                            <input type="submit" id="btnlogin" class="btn btn-info" value="立即登录" />
                        </div>
                    </div>


}