@model IEnumerable<Guitar.Models.Video>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vi_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vi_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vi_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vi_img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vi_addtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.User_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vi_url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vi_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vi_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vi_img)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vi_addtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.User_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Vi_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Vi_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Vi_id })
        </td>
    </tr>
}

</table>
